<section>
  <h1>博主简介</h1>
  <p>
	<ul style="font-family:'pt serif', georgia, times, 'times new roman', serif;font-size:18px;vertical-align:baseline;color:#222222;background-color:#F8F8F8;">
		<li style="font-family:inherit;font-style:inherit;font-weight:inherit;vertical-align:baseline;">
			<p style="font-family:inherit;font-style:inherit;font-weight:inherit;vertical-align:baseline;">
				职业：iOS开发
			</p>
		</li>
		<li style="font-family:inherit;font-style:inherit;font-weight:inherit;vertical-align:baseline;">
			<p style="font-family:inherit;font-style:inherit;font-weight:inherit;vertical-align:baseline;">
				工作经历：曾就职于高阳科技、北京拉手网，现在高德地图
			</p>
		</li>
		<li style="font-family:inherit;font-style:inherit;font-weight:inherit;vertical-align:baseline;">
			<p style="font-family:inherit;font-style:inherit;font-weight:inherit;vertical-align:baseline;">
				早期在CSND上写博客：<a href="http://blog.csdn.net/wzzvictory" target="_blank">http://blog.csdn.net/wzzvictory</a>
			</p>
		</li>
		<li style="font-family:inherit;font-style:inherit;font-weight:inherit;vertical-align:baseline;">
			<p style="font-family:inherit;font-style:inherit;font-weight:inherit;vertical-align:baseline;">
				欢迎通过在本站留言或通过<a href="http://weibo.com/foogry" target="_blank">新浪微博</a>联系我
			</p>
		</li>
	</ul>
</p>
<p>
	<br />
</p>
</section>
