<section>
    <h1>广告时间</h1>
    <ul id="ad">
    <li>
    	

<!-- 广告位：Google -->
 
 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 王中周的技术博客 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-4428888818448200"
     data-ad-slot="4492145577"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>




<!-- 广告位：百度广告 -->
<!--
<script type="text/javascript" >BAIDU_CLB_SLOT_ID = "985176";</script>
<script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script>

 -->
   
      </li>
    </ul>
</section>
