<section>
    <h1>广告时间</h1>
    <ul id="ad">
    <li>
    	
        <script type="text/javascript"> (function(win,doc){ var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0]; if (!win.alimamatk_show) { s.charset = "gbk"; s.async = true; s.src = "http://a.alimama.cn/tkapi.js"; h.insertBefore(s, h.firstChild); }; var o = { pid: "mm_58588178_7760015_26118782",/*推广单元ID，用于区分不同的推广渠道*/ appkey: "",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/ unid: ""/*自定义统计字段*/ }; win.alimamatk_onload = win.alimamatk_onload || []; win.alimamatk_onload.push(o); })(window,document);</script>
        
        <a data-type="2" biz-keyword="iPhone" data-tmpl="220x290" data-tmplid="9" data-rd="2" data-style="2" data-border="1" href="#">iPhone</a>

   
      </li>
    </ul>
</section>
