<section>
    <h1>广告时间</h1>
    <ul id="ad">
    <li>
    	

<!-- 广告位：Google -->
<!-- 
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
-->
<!-- 王中周的技术博客 -->
<!-- 
<ins class="adsbygoogle"
     style="display:inline-block;width:250px;height:250px"
     data-ad-client="ca-pub-4428888818448200"
     data-ad-slot="1259477576"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->

	<!-- 广告位：Google -->
	<!-- 王中周的技术博客 -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-4625946986997917",
	    enable_page_level_ads: true
	  });
	</script>


	<p>Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a></p>
	
<!-- 广告位：Baidu -->
<!-- 广告位：技术博客 -->
<!-- 
<script type="text/javascript" >BAIDU_CLB_SLOT_ID = "985176";</script>
<script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script>
-->

	
   
    </li>
    </ul>
</section>
