<div style="text-align: center;">
	<img src="/images/weixinpay.jpg"  align="middle" height="200" width="200" alt="打赏" />
</div>

<br/>

<div style=text-align: center;>
  <h3>如果觉得文章对你有帮助，请我吃个鸡腿吧！</h3>
</div>

<br/>

{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}
{% if author %}<span class="byline author vcard">Posted by <span class="fn">{{ author }}</span></span>{% endif %}
