<p style="text-align:center;">
	<span class="footer__copyright"><span style="line-height:1;">&nbsp;</span><a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><span style="line-height:1;">-- 4.0</span></a></span><span style="line-height:1;">&nbsp;</span> 
</p>
<p style="text-align:center;">
	<span style="line-height:1;">Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} - </span><span class="credit"><span style="line-height:1;">Powered by </span><a href="http://octopress.org"><span style="line-height:1;">Octopress</span></a></span> 
</p>